<html>
<head>
<style type="text/css">
</style>
<title>txtagram</title>
<link href="../static/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-apper.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="content">
		<div class="info">
			<a href="/"><h1 style="font-family: 'Pacifico', cursive; font-size:55px; color:#4E9CBD; text-shadow: 1px 1px 1px #aaa;">Txtagram</h1></a>
			<br /><br /><br /><br /><br /><br /><br />
			<div class="pitch">
				<p style="font-size:22px; color:#000;font-family: 'Changa One', cursive;">Meet Txtagram</p>Its a <b>fast</b>, <b>beautiful</b> and <b>fun</b> way to share your text with friends and family.<br /><br />Craft a text, choose a filter to transform its look and feel, then post to Txtagram. Share to Facebook, Twitter, and Tumblr too – it's as easy as pie. It's text sharing, reinvented.<br /><br />Oh yeah, did we mention we're selling for a billion dollars?</p>
				
			</div>
			<div class="actions">
				<a href="#" class="button_appstore fader" title="Download now">Download App</a>
				<a href="#" class="button_read_more fader" title="Learn more">Buy us for $1B!</a>
			</div>
		</div>
		<div class="phone">
			<div class="iphone_image">
				<video width="195"  height="293" src="https://s3.amazonaws.com/assets.path.com/v2_home/background.m4v" no-controls autobuffer autoplay></video>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="alignleft"><p>Created by <a href="https://twitter.com/#!/admiraljonjon" target="_blank" title="Jon">Jon Carroll</a>, <a href="https://twitter.com/#!/dthompson" target="_blank" title="Mick">Mick Thompson</a>, <a href="https://twitter.com/#!/RossIngram" target="_blank" title="Ross">Ross Ingram</a>.</p></div>
		<div class="alignright">
			<a href="http://blog.txtagr.am/" target="_blank" title="Blog">Blog</a>
			<span class="divider"></span>
			<a href="#" title="Contact us">Contact us</a>
		</div>
	</div>
</div>
<!-- Sliding share box
<div id="sliding_share">
	<div class="button" title="Click to share">Share</div>
	<div class="container">
		<ul>
			<li><a href="" class="fader" title="Share on Twitter"><img src="../static/images/right_sharing-twitter.png" alt="Twitter" /></a></li>
			<li><a href="" class="fader" title="Share on Facebook"><img src="../static/images/right_sharing-fb.png" alt="Facebook" /></a></li>
			<li><a href="" class="fader" title="Share on Digg"><img src="../static/images/right_sharing-digg.png" alt="Digg" /></a></li>
			<li><a href="" class="fader" title="Share on Reddit"><img src="../static/images/right_sharing-reddit.png" alt="Reddit" /></a></li>
			<li><a href="" class="fader" title="Share on LinkedIn"><img src="../static/images/right_sharing-in.png" alt="LinkedIn" /></a></li>
			<li><a href="" class="fader" title="Share by email"><img src="../static/images/right_sharing-email.png" alt="Email" /></a></li>
		</ul>
	</div>
</div>-->
</body>
</html>
