<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>txtagram</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<link href="reset.css" rel="stylesheet" type="text/css"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/jquery-apper.js"></script>
</head>
<body>

<div id="wrapper">
	<div id="content">
		<div class="info">
			<h1 class="header"></h1>
			
			<div class="pitch">
				<p style="font-size:20px; color:#0033FF; ">Meet Txtagram</p>It’s a <b>fast</b>, <b>beautiful</b> and <b>fun</b> way to share your txt with friends and family.<br /><br />Craft a txt, choose a filter to transform its look and feel, then post to Txtagram. Share to Facebook, Twitter, and Tumblr too – it's as easy as pie. It's txt sharing, reinvented.<br /><br />Oh yeah, did we mention it’s free?</p>
				
			</div>
			
			<div class="actions">
				<a href="#" class="button_download fader" title="Download now"></a>
				<!--<a href="#" class="button_read_more fader" title="Learn more">Learn more</a>-->
			</div>
			
			<!--<div class="subscribe">
				<form action="" method="post">
					<input type="text" name="email" class="field" value="Join our mailing list" />
					<input type="submit" class="submit" value="OK" />
				</form>
			</div>-->
		</div>
		
		<div class="phone">
			<div class="iphone_image">
				<img src="images/temp_overlay_iphone.png" alt="" />
			</div>
		</div>

		<!--<div class="webapp">
			<div class="webapp_image">
				<img src="images/temp_overlay_webapp.png" alt="" />
			</div>
		</div>-->
	</div>
	
	<!--<div id="badge"></div>-->
	
	<!--<div id="more">
		<div class="twitter">
			<div class="headline">
				<h4>App Name on Twitter</h4>
				<a href="" class="follow fader" title="Follow us">Follow us</a>
			</div>
		</div>
		
		<div class="quote">
			<div class="headline">
				<h4>What others are saying</h4>
			</div>
		</div>
	</div>-->
	
	<div id="footer">
		<div class="alignleft"><p>Created by <a href="#" title="Jon">Jon Carroll</a>, <a href="#" title="Mick">Mick Thompson</a>, <a href="#" title="Ross">Ross Ingram</a>.</p></div>
		<div class="alignright">
			<a href="http://blog.txtagr.am/" title="Blog">Blog</a>
			<span class="divider"></span>
			<a href="#" title="Contact us">Contact us</a>
		</div>
	</div>
</div>

<!--- Sliding share box -->
<div id="sliding_share">
	<div class="button" title="Click to share">Share</div>
	<div class="container">
		<ul>
			<li><a href="" class="fader" title="Share on Twitter"><img src="images/right_sharing-twitter.png" alt="Twitter" /></a></li>
			<li><a href="" class="fader" title="Share on Facebook"><img src="images/right_sharing-fb.png" alt="Facebook" /></a></li>
			<li><a href="" class="fader" title="Share on Digg"><img src="images/right_sharing-digg.png" alt="Digg" /></a></li>
			<li><a href="" class="fader" title="Share on Reddit"><img src="images/right_sharing-reddit.png" alt="Reddit" /></a></li>
			<li><a href="" class="fader" title="Share on LinkedIn"><img src="images/right_sharing-in.png" alt="LinkedIn" /></a></li>
			<li><a href="" class="fader" title="Share by email"><img src="images/right_sharing-email.png" alt="Email" /></a></li>
		</ul>
	</div>
</div>
</body>
</html>
